* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;


}

.active {
  display: none;
}

.heading {
  background: #F8F4F0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3.3rem 2.5rem 1rem
}

.heading button {
  border: none;
  background-color: transparent;
}

.heading button:hover {
  cursor: pointer;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
  color: transparent;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: 4.5rem 0 0 3.8rem;
}

.options a {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;

  color: #EC4926;
  text-decoration: none;
}

.options a:hover {
  font-weight: 400;
}

.navigation {
  position: absolute;
  z-index: 999;
  background: #F8F4F0;
  width: 100%;
}

.navigation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4.5rem 0 0;
}

.navigation button {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;


  text-transform: uppercase;

  color: #FFFFFF;
  background: #EC4926;
  border-radius: 2.5rem;

  padding: 1.3rem 3rem;
  border: none;
}

.navigation button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.social-medias {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 25.2rem;
}

.social-medias li:hover {
  cursor: pointer;
  scale: 1.2;
}

.content {
  margin: 2.8rem 2.5rem;
}

main span {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.08em;

  color: #EC4926;
}

main h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 130%;
  margin: 1.5rem 0;

  color: #212529;
}

main p {
  font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 150%;

color: #495057;
}

.button {
  display: flex;
  justify-content: center;
}

main button {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;


  border: .1rem solid #EC4926;
  border-radius: 2.5rem;

  padding: 1.3rem 3rem;
  background-color: transparent;
  margin-top: 3.8rem;
}

main button:hover {
  cursor: pointer;
}

main button a {
  color: #EC4926;
}

.brands {
  display: flex;
  flex-direction: column;
}

.brands h2 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 130%;
  padding-left: 2.5rem;
  margin-bottom: 2rem;

  color: #212529;
}

.swiper-container {
  padding: 0 1rem;
}

.swiper.mySwiper {
  margin-bottom: 2rem;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after,
#prev,
#next {
  display: none;
}

.swiper-pagination {
  display: none;
}

.delta {
  padding: 3rem 2.5rem;
}

.delta h2 {
  font-family: 'DM Sans';
  font-size: 3rem;
  margin-bottom: .5rem;

  color: #212529;
}

.delta span {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.5rem;

  letter-spacing: 0.08em;

  color: #EC4926;
  
}

.delta p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.6rem;

  color: #495057;
  margin-top: .5rem;
}

.delta div {
  display: flex;
  justify-content: center;
}

.delta button {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;

  color: #F8F4F0;
  background: #EC4926;
  border-radius: 25px;

  border: none;

  padding: 1.3rem 5.3rem;
  margin: 3rem 0;
}

.delta button:hover {
  cursor: pointer;
}

.services {
  background-color: #EC4926;
  padding: 3rem 2.5rem;
}

.services h3 {
  font-family: 'DM Sans';
  font-size: 1.5rem;

  letter-spacing: 0.08em;
  margin-bottom: 1.5rem;

  color: #F8F4F0;
}

.services h1 {
  font-family: 'DM Sans';
  font-size: 3rem;

  color: #FFFAFA;
}

.optics,
.fixes {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 2.5rem;
}

.optics {
  margin: 3rem 0;
}

.optics h2,
.fixes h2 {
  font-family: 'DM Sans';
  font-size: 2.4rem;

  color: #212529;
  margin-bottom: 2rem;

}

.optics p,
.fixes p {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  color: #495057;
}

.about h2 {
  font-family: 'DM Sans';
  font-size: 1.5rem;

  letter-spacing: 0.08em;

  color: #EC4926;
}

.about h1 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
  
  color: #212529;

  margin: 2rem 0;
}

.about p {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  color: #495057;
}

.about .swiper-container {
  padding: 0 1rem;
}

.about .swiper.mySwiperModels {
  margin-bottom: 2rem;
}

.about .swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.about .swiper-slide img {
  width: 12.7rem;
  height: 12.7rem;
}

.about .swiper-button-next::after,
.about .swiper-button-prev::after,
#prev,
#next {
  display: none;
}

.about .swiper-pagination {
  display: none;
}