* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;


}

.active {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

main {
  padding-top: 12rem;
}

.heading {
  background: #F8F4F0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3.3rem 2.5rem 1rem
}

.heading button {
  border: none;
  background-color: transparent;
}

.heading button:hover {
  cursor: pointer;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: 4.5rem 0 0 3.8rem;
}

.options a {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;

  color: #EC4926;
  text-decoration: none;
}

.options a:hover {
  font-weight: 400;
}

.navigation {
  position: absolute;
  z-index: 999;
  background: #F8F4F0;
  width: 100%;
}

.navigation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4.5rem 0 0;
}

.navigation button {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;


  text-transform: uppercase;

  color: #FFFFFF;
  background: #EC4926;
  border-radius: 2.5rem;

  padding: 1.3rem 3rem;
  border: none;
}

.navigation button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.social-medias {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 25.2rem;
}

.social-medias li:hover {
  cursor: pointer;
  scale: 1.2;
}

main span {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.08em;

  color: #EC4926;
}

main h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 130%;
  margin: 1.5rem 0;

  color: #212529;
}

main p {
  font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 150%;

color: #495057;
}

.button {
  display: flex;
  justify-content: center;
}

main button {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;


  border: .1rem solid #EC4926;
  border-radius: 2.5rem;

  padding: 1.3rem 3rem;
  background-color: transparent;
  margin: 3.8rem 0 3rem;
}

main button:hover {
  cursor: pointer;
}

main button a {
  color: #EC4926;
}

.content-home {
  padding: 2rem 2.5rem;
}

.brands {
  display: flex;
  flex-direction: column;
}

.brands h2 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 130%;
  padding-left: 2.5rem;
  margin-bottom: 2rem;

  color: #212529;
}

.brands .swiper-container-desktop {
  display: none;
}

.swiper-container {
  padding: 0 1rem;
}

.swiper.mySwiper {
  margin-bottom: 2rem;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after,
#prev,
#next {
  display: none;
}

.swiper-pagination {
  display: none;
}

.delta {
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.delta200 img {
  width: 37.5rem;
  height: 31.2rem;
}

.delta200-content {
  display: flex;
  flex-direction: column;
}

.delta h2 {
  font-family: 'DM Sans';
  font-size: 3rem;
  margin-bottom: .5rem;

  color: #212529;
}

.delta span {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.5rem;

  letter-spacing: 0.08em;

  color: #EC4926;
  
}

.delta p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.6rem;

  color: #495057;
  margin-top: .5rem;
}

.delta div {
  display: flex;
  justify-content: center;
}

.delta button {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;

  color: #F8F4F0;
  background: #EC4926;
  border-radius: 25px;

  border: none;

  padding: 1.3rem 5.3rem;
  margin: 3rem 0;
}

.delta button:hover {
  cursor: pointer;
}

.services {
  background-color: #EC4926;
  padding: 3rem 2.5rem;
}

.services .wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.services h3 {
  font-family: 'DM Sans';
  font-size: 1.5rem;

  letter-spacing: 0.08em;
  margin-bottom: 1.5rem;
  text-transform: uppercase;

  color: #F8F4F0;
}

.services h1 {
  font-family: 'DM Sans';
  font-size: 3rem;

  color: #FFFAFA;
}

.optics,
.fixes {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 2.5rem;
}

.optics {
  margin: 3rem 0 0;
}

.optics h2,
.fixes h2 {
  font-family: 'DM Sans';
  font-size: 2.4rem;

  color: #212529;
  margin-bottom: 2rem;

}

.optics p,
.fixes p {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  color: #495057;
}

.about {
  padding: 3rem 2.5rem;
}

.about h2 {
  font-family: 'DM Sans';
  font-size: 1.5rem;
  text-transform: uppercase;

  letter-spacing: 0.08em;

  color: #EC4926;
}

.about h1 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
  
  color: #212529;

  margin: 2rem 0;
}

.about p {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  color: #495057;
}

.about .swiper-container {
  padding: 3rem 0 0;
}

.about .swiper.mySwiperModels {
  margin-bottom: 2rem;
}

.about .swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.about .swiper-slide img {
  width: 12.7rem;
  height: 12.7rem;
}

.about .swiper-button-next::after,
.about .swiper-button-prev::after,
#prev,
#next {
  display: none;
}

.about .swiper-pagination {
  display: none;
}

.footer {
  background-color: #EC4926;
  padding: 3rem 2.5rem;
}

.footer h4 {
  font-family: 'DM Sans';
  font-size: 3rem;

  color: #FFFFFF;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 2rem;
}

.adress, .email {
  display: flex;
  align-items: center;
  gap: .8rem;
  
}

.adress p, .email p {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  color: #FFFFFF;
}

.social-medias-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 2.1rem 0;
}

.footer-button {
  display: flex;
  justify-content: center;
}

.footer button {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.8rem;
  
  color: #EC4926;
  border: none;
  
  padding: 1.3rem 3rem;
  border-radius: 2.5rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
}

.menu-desktop {
  display: none;
}

.CTA-desktop {
  display: none; 
}

.about .swiper-container-desktop {
  display: none;
}

/*===============================================================DESKTOP=========================================================*/

@media (min-width: 1080px) {

  .logo {
    width: 15.6rem;
    height: 9rem;
  }

  .menu-mobile {
    display: none;
  }

  .menu-desktop {
    display: flex;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  .heading {
    display: flex;
    align-items: center;
    padding: 0 10rem;
  }

  .options-desktop {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    font-family: 'DM Sans';
    font-size: 1.8rem;
  }

  .options-desktop a {
    color: #EC4926;
    opacity: 0.8;
    cursor: pointer;
  }

  .options-desktop a:hover {
    opacity: 1;
    font-weight: 700;
  }

  .CTA-desktop {
    display: flex;
  }

  .CTA-desktop a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;

    color: #EC4926;
    opacity: 0.8;
    border: 1px solid #EC4926;
    padding: 1.2rem 2rem;
    border-radius: 20rem;
  }

  .CTA-desktop a:hover {
    cursor: pointer;
    opacity: 1;
  }

  main {
    padding-top: 15rem;
  }

  main .content {
    display: flex;
    flex-direction: column;
  }

  .content span {
    font-size: 2rem;
    letter-spacing: 0.08em;

    color: #EC4926;
  }

  .content h1 {
    font-size: 4rem;

    color: #212529;
  }

  .content p {
    font-size: 1.8rem;
    color: #495057;
  }

  .content p {
    margin-bottom: 2rem;
  }

  .content .button  {
    display: flex;
    justify-content: center;
  
  }

  .button button {
    background: #EC4926;
  }

  .content .button a {
    font-size: 1.8rem;

    color: #F8F4F0;
    background: #EC4926;
  }

  .content-home {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .img-home {
    background-image: url(./assets/images/img-home.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 530px;
  }

  .brands .swiper-container {
    display: none;
  }

  .brands {
    background-color: #F4EBEB;
  }

  .brands h2 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-bottom: 0rem;
  }

  .brands .swiper-container-desktop {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }

  .swiper-container {
    display: none;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after,
  #prev,
  #next {
    display: flex;
    justify-content: center;
  }
  
  .swiper-pagination {
    display: none;
  }

  .brands .swiper-slide img {
    width: 15rem;
    height: 15rem;    
  }

  .delta {
    display: flex;
    flex-direction: row;
    gap: 17.9rem;
    padding: 5rem 10rem;
  }

  .delta200-content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  .delta200-content h2 {
    font-size: 4rem;
    
  }

  .delta200-content span, 
  .delta200-content p {
    font-size: 1.8rem;
  }

  .delta200-content button {
    font-size: 2.2rem;
    padding: 1.6rem 6.5rem;
  }

  .delta200-content button:hover {
    opacity: 0.8;
  }

  .delta200-content p {
    margin-top: 2rem;
  }

  .delta200 img {
    width: 38.1rem;
    height: 54.2rem;
  }

  .services {
    padding: 3rem 10rem;
  }

  .services h3 {
    font-size: 4rem;
    text-transform: none;
  }

  .services h1 {
    font-size: 1.8rem;
  }

  .services .wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 4.5rem;
  }

  .content {
    padding-left: 10rem;
    margin-right: 15rem;
    width: 100%;
  }

  .content-about {
    padding: 3rem 10rem 0;
  
  }

  .about {
    padding: 0;
  }

  .about .content-about h2 {
    font-size: 4rem;
    text-transform: none;
  }

  .about .content-about h1,
  .about .content-about p {
    font-size: 1.8rem;
  }

  .about .swiper-container-desktop img {
    width: 20rem;
    height: 20rem;
  }

  .about .swiper-container-desktop {
    display: flex;
    padding: 5rem 0 2rem;
  }

  .swiper .mySwiperModels .swiper-wrapper {
    display: flex;
    flex-direction: row;
  }

  .footer {
    padding: 3rem 10rem;
  }

  .footer h4 {
    font-size: 4rem;
  }

  .footer p {
    font-size: 1.8rem;
  }

  .social-medias-footer img {
    width: 35px;
    height: 35px;
  }

  .social-medias-footer a:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .footer-button {
    font-size: 1.8rem;
    padding: 1.6rem 6.5rem;
  }

  .footer-button button:hover {
    opacity: 0.8;
  }
}

